{#

 This file is part of the RPSGuestbookBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'RPSGuestbookBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'title.edit_entry'|trans({}, 'RPSGuestbookBundle') }}{% endblock %}

{% block content %}
    <div class="rps-guestbook-form-container col-xs-9 col-sm-7 col-md-4">
        {{ form_start(form, {'action': path('rps_guestbook_edit', {'id': id}), 'method': 'POST', 'attr': {'class': 'form-horizontal rps-guestbook-form', 'role': 'form'} }) }}

        <div class="form-error">{{ form_errors(form.name) }}</div>
        <div class="input-group form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.name, {'attr': {'placeholder': 'form.name'|trans({}, 'RPSGuestbookBundle'), 'class': 'form-control'}}) }}
        </div>

        <div class="form-error">{{ form_errors(form.email) }}</div>
        <div class="input-group form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            {{ form_widget(form.email, {'attr': {'placeholder': 'form.email'|trans({}, 'RPSGuestbookBundle'), 'class': 'form-control'}}) }}
        </div>

        <div class="form-error">{{ form_errors(form.comment) }}</div>
        <div class="form-group">
            {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': '10','placeholder': 'form.entry.enter_your_comment_here'|trans({}, 'RPSGuestbookBundle') } }) }}
        </div>

        {{ form_widget(form) }}

        <div class="form-btns">
            <button class="btn btn-success">{{ 'link.save'|trans({}, 'RPSGuestbookBundle') }}</button>
            <a class="btn btn-danger" href="{{ path('rps_guestbook_cancel') }}">{{ 'link.cancel'|trans({}, 'RPSGuestbookBundle') }}</a>
        </div>

        {{ form_end(form) }}
    </div><!-- /rps-guestbook-form-container -->
{% endblock %}